body {
  padding: 0;
  margin: 5;
  font-family: sans-serif;

}
.containers{
  width: 800px;
  padding: 10px;

}

.colorCount{

  font-size: 12px;
  padding: 10px;

}

.box {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.red {
  background-color: red;


}
.blue {
  background-color: blue;

}
.yellow {
  background-color: yellow;

}
.green {
  background-color: green;

}
